{% macro authorCard(params, el = "div") %}
  <div class="author">
    <div class="grid">
      {% include "./avatar.njk" %}
      <div class="details">
        <{{el}} class="authorName">{{params.name}}</{{el}}>
        <div class="bio">{{params.bio}}
          <br/>
        Has this content helped you? <a href="https://www.buymeacoffee.com/harveyramer">Buy Harvey a coffee</a> to say, "Thanks!"
        </div>
      </div>
    </div>

    {% include "./social.njk" %}
  </div>
{% endmacro %}