---
title: Harvey Ramer
description: Harvey Ramer, a web developer, shares his thoughts on technology, business, and the Christian worldview.
---
{% set reset %}
{% include "../theme/reset.css" %}
{% endset %}
{% set fonts %}
{% include "../theme/fonts.css" %}
{% endset %}
{% set typography %}
{% include "../theme/typography.css" %}
{% endset %}
{% set layout %}
{% include "../theme/layout.css" %}
{% endset %}
{% set components %}
{% include "../theme/components.css" %}
{% endset %}
{% set pageMeta = {
  quote: social_quote,
  slug: page.fileSlug,
  title: title
} %}
<!doctype html>
<html lang="en">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    {% if social_quote %}
      <meta name="twitter:card" content="summary_large_image"/>
      <meta name="twitter:site" content="@harveyramer"/>
      <meta name="twitter:title" content="{{title}}"/>
      <meta name="twitter:description" content="{{social_quote}}"/>
      <meta property="og:url" content="{{site.url}}{{page.url}}"/>
      <meta property="og:type" content="article"/>
      <meta property="og:title" content="{{title}}"/>
      <meta property="og:description" content="{{social_quote}}"/>
      <meta property="og:image" content="{{ pageMeta | ogImg }}"/>
    {% endif %}
    <title>{{ meta_title or title }}</title>
    {% if description %}
      <meta name="description" content="{{description}}">
    {% endif %}
    <style>
      {{fonts  | cssmin | safe}}
      {{reset | cssmin | safe}}
      {{typography  | cssmin | safe}}
      {{layout | cssmin | safe}}
      {{components | cssmin | safe}}
    </style>
    <link rel="apple-touch-icon" sizes="57x57" href="/img/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/img/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/img/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/img/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/img/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/img/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/img/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/img/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/img/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/img/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#D8D8D8">
    <meta name="msapplication-TileImage" content="/img/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#D8D8D8">
    <link rel="alternate" type="application/rss+xml" title="RSS Feed for harveyramer.com" href="/feed.xml"/>
  </head>
  <body>
    <div class="container">
      {{ content | safe }}
      {% include "../partials/footer.njk" %}
    </div>
  </body>
</html>
