---
title: Harvey Ramer's Blog
---
{% set reset %}
  {% include "../theme/reset.css" %}
{% endset %}
{% set fonts %}
  {% include "../theme/fonts.css" %}
{% endset %}
{% set typography %}
  {% include "../theme/typography.css" %}
{% endset %}
{% set layout %}
  {% include "../theme/layout.css" %}
{% endset %}
{% set components %}
  {% include "../theme/components.css" %}
{% endset %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <base href="/" />
    <style>
      {{ fonts | cssmin | safe }}
      {{ reset | cssmin | safe }}
      {{ typography  | cssmin | safe }}
      {{ layout | cssmin | safe }}
      {{ components | cssmin | safe }}
    </style>

  </head>
  <body>
    {{ content | safe }}
  </body>
</html>