/* Components */

/* Author Card */
.author {
  margin: 4em 0 0;
}
.author .grid {
  display: grid;
  grid-template-columns: 4fr 20fr;
}
.author .authorName {
  font-weight: bold;
  font-size: 2em;
  line-height: 1em;
  margin-bottom: 0;
}
.author .details {
  padding-left: 1rem;
  grid-column: 2;
  grid-column-end: 9;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.author .bio {
  font-family: "Roboto Light", sans-serif;
  text-align: justify;
  font-size: 0.8rem;
  margin-top: 0.5rem;
}
.author .avatar {
  border-radius: 50%;
  margin-bottom: 0;
  margin-left: 0;
}

.author .social {
  margin-top: 0.5rem;
  text-align: right;
}
.author .social a {
  display: inline-block;
  width: 1rem;
  margin: 0.25rem;
  color: inherit;
}

@media screen and (max-width: 450px) {
  .author {
    margin: 4em 0;
    display: grid;
    grid-template-columns: none;
    grid-row: auto;
  }
  .author .grid {
    display: block;
  }
  .author .avatar {
    max-width: 5rem;
    height: auto;
    margin: 0 auto;
    display: block;
  }
  .author .details {
    padding-left: 0;
  }
  .author .authorName {
    text-align: center;
  }
  .author .social {
    text-align: center;
  }
}

code {
  font-size: 0.8rem;
  background-color: rgb(253, 253, 253);
  font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  white-space: pre-line;
  word-break: break-all;
}
pre code {
  border: 1px solid rgb(225, 225, 225);
  margin: 1rem 0;
  display: block;
  padding: 0.5rem;
}

.footnotes li {
  margin-bottom: 0.6em;
}
.footnotes li::marker,
.footnotes p,
.footnotes a {
  display: inline;
}

.alert {
  padding: 1em 2em;
  font-size: 0.8em;
  font-family: "Roboto Light", sans-serif;
  border: 1px solid rgb(213, 213, 213);
  border-radius: 0.5em;
  margin: 1em 0;
  text-indent: 0;
}

.alert.danger {
  border-color: rgb(231, 193, 193);
}

.callout {
  text-indent: 0;
  text-align: center;
  margin: 2em 0;
  border: 3px dotted rgb(213, 213, 213);
  border-right: 0;
  border-left: 0;
  font-family: "Roboto Light", sans-serif;
  padding: 1.75em 0;
}
