/* Components */

/* Author Card */
.author {
  margin: 4em 0 0;
}
.author .grid {
  display: grid;
  grid-template-columns: 4fr 20fr;
}
.author .authorName {
  font-weight: bold;
  font-size: 2em;
  line-height: 1em;
  margin-bottom: 0;
}
.author .details {
  padding-left: 1rem;
  grid-column: 2;
  grid-column-end: 9;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.author .bio {
  font-family: "Roboto Light", sans-serif;
  text-align: justify;
  font-size: 0.8rem;
  margin-top: 0.5rem;
}
.author .avatar {
  border-radius: 50%;
  margin-bottom: 0;
  margin-left: 0;
}

.author .social {
  margin-top: 0.5rem;
  text-align: right;
}
.author .social a {
  display: inline-block;
  width: 1rem;
  margin: 0.25rem;
  color: inherit;
}

@media screen and (max-width: 450px) {
  .author {
    margin: 4em 0;
    display: grid;
    grid-template-columns: none;
    grid-row: auto;
  }
  .author .grid {
    display: block;
  }
  .author .avatar {
    max-width: 5rem;
    height: auto;
    margin: 0 auto;
    display: block;
  }
  .author .details {
    padding-left: 0;
  }
  .author .authorName {
    text-align: center;
  }
  .author .social {
    text-align: center;
  }
}

code {
  font-size: 0.8rem;
  background-color: rgb(253, 253, 253);
  font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  white-space: pre-line;
  word-break: break-all;
}
pre code {
  border: 1px solid rgb(225, 225, 225);
  margin: 1rem 0;
  display: block;
  padding: 0.5rem;
}
.footnotes-list {
  margin-left: 0;
}
.footnotes li {
  margin-bottom: 0.6em;
}
.footnotes li::marker,
.footnotes p,
.footnotes a {
  display: inline;
}

.alert {
  padding: 1em 2em;
  font-size: 0.8em;
  font-family: "Roboto Light", sans-serif;
  border: 1px solid rgb(213, 213, 213);
  border-radius: 0.5em;
  margin: 1em 0;
  text-indent: 0;
}

.alert.danger {
  border-color: rgb(231, 193, 193);
}

.callout {
  text-indent: 0;
  text-align: center;
  margin: 2em 0;
  border: 1px solid rgb(213, 213, 213);
  border-right: 0;
  border-left: 0;
  font-family: "Roboto Light", sans-serif;
  padding: 1.75em 0;
}

.footnotes-sep {
  border: 0;
  border-top: 1px solid rgb(213, 213, 213);
  margin-top: -0.2em;
  margin-bottom: 1em;
}

/* Article Icons */
h2.pinned:before {
  /* svg-inline--fa */
  display: inline-block;
  font-size: inherit;
  height: 0.5em;
  overflow: visible;

  /* fa-w-14 */
  width: 0.5rem;

  /* Icon */
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 288 512'%3E%3Cpath fill='currentColor' d='M112 316.94v156.69l22.02 33.02c4.75 7.12 15.22 7.12 19.97 0L176 473.63V316.94c-10.39 1.92-21.06 3.06-32 3.06s-21.61-1.14-32-3.06zM144 0C64.47 0 0 64.47 0 144s64.47 144 144 144 144-64.47 144-144S223.53 0 144 0zm0 76c-37.5 0-68 30.5-68 68 0 6.62-5.38 12-12 12s-12-5.38-12-12c0-50.73 41.28-92 92-92 6.62 0 12 5.38 12 12s-5.38 12-12 12z'%3E%3C/path%3E%3C/svg%3E");

  /* Margin */
  margin-right: 0.25rem;
}
