html,
body {
  height: 100%;
}
.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 35em;
  margin: 0 auto;
}
main {
  margin-top: 3em;
  flex: 1 0 auto;
  padding: 0 1rem;
}
footer {
  padding: 0 1rem;
  flex-shrink: 0;
}
/* .container {
  max-width: 35em;
  margin: 0 auto;
  position: relative;
  min-height: 100vh;
}
main {
  margin-top: 3em;
  padding: 0 1rem;
}
footer {
  position: absolute;
  bottom: 0;
} */
