html,
body {
  height: 100%;
}
.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 40em;
  margin: 0 auto;
}
main {
  margin-top: 3em;
  flex: 1 0 auto;
  padding: 0 1rem;
}
footer {
  padding: 0 1rem;
  flex-shrink: 0;
}
footer .legal {
  font-size: 0.8em;
}

img {
  max-width: 100%;
  height: auto;
}
