html,
body {
  font-family: Alegreya, serif;
  font-size: 20px;
  line-height: 1.5;
  color: rgb(42, 42, 42);
}
h1 {
  font-size: 2.7rem;
  font-weight: 700;
  margin-bottom: 0.7em;
  line-height: 1.24;
}

h2 {
  font-size: 1.75rem;
  font-weight: 600;
  margin-bottom: 0.5em;
  margin-top: 1em;
}

h3 {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 0.5em;
  margin-top: 1em;
}
em {
  font-style: italic;
}
b {
  font-weight: 700;
}
main p {
  text-align: justify;
  text-indent: 1em;
}

main ul,
main ol {
  margin-left: 1.6em;
}
main ul {
  list-style-type: disc;
}
main ol {
  list-style-type: decimal;
}
.callout {
  text-indent: 0;
  text-align: center;
  margin: 1.25em 0;
  border: 1px solid rgb(170, 170, 170);
  border-right: 0;
  border-left: 0;
  font-style: italic;
  font-size: 1.2em;
  padding: 0.5em 0;
}
.lede {
  text-indent: 0;
}

/* Drop Cap */
.lede:first-letter {
  color: rgb(70, 70, 70);
  float: left;
  font-size: 3.04em;
  /* line-height: 1em;
  padding-top: 0.01;
  padding-right: 0.05em;
  padding-left: 0.05em; */
  font-size: 70px;
  line-height: 40px;
  padding-top: 10px;
  padding-right: 5px;
  padding-left: 3px;
}
