---
title: Oops! Not Found
layout: base
---

<main>
  <h1>{{title}}</h1>
  <p>I am sorry I could not locate what you were looking for. Sinc you're here anyway, why not take a look around?</p>
  <p>See a complete article list in our <a href="/archive">archive</a>, or visit our <a href="/">home page</a>.</p>
</main>