---
layout: base
meta_title: "Past Articles"
title: All Articles
description: Past articles written by Memphis-based web developer, Harvey Ramer.
---

<main>
  <h1>{{ title }}</h1>
  <ol class="archive_list">
    {%- for post in collections.articles | pinnedSort -%}
      <li>
        <h2 {% if post.data.pinned %}
            class="pinned"
            title="Pinned article"
          {% endif %}>
          <a href="{{ post.url }}">{{ post.data.title }}</a>
        </h2>
        <p class="excerpt">{{post.data.social_quote}}
        <span class="meta">
          <time class="block" datetime="{{ post.data.date | w3DateFilter  }}">
            {{ post.data.date | dateDisplay }}
          </time> — <span class="tags">
            {%- for tag in post.data.tags -%}
              {%if loop.index0 > 0%}, {%endif%}
                <a href="/tags/{{tag}}/">{{tag | upper}}</a>
              {%- endfor -%}
            </span>
          </span>
          </p>
        </li>
      {% endfor %}
    </ol>

  </main>