---
layout: base
meta_title: "Past Articles"
title: Archive
---

<main>
  <h1>{{ title }}</h1>
  {%- for post in collections.articles -%}
    <article>

      <div>

        <h2>
          <a href="{{ post.url }}">{{ post.data.title }}</a>
        </h2>

        <div class="text-sm text-gray-600 absolute bottom-0">
          <p class="meta">By {{ post.data.author or site.author.name }}

            {# <time class="block" datetime="{{ post.data.published_date | w3DateFilter  }}">
              {{ post.data.published_date | dateDisplay }}
            </time> #}

          </p>
        </div>

      </div>

    </article>

  {% endfor %}

</main>