---
layout: base
pagination:
  data: collections
  size: 1
  alias: tag
  filter: 
    - all
permalink: /tags/{{ tag | slug }}/
eleventyComputed:
  title: "{{ tag | capitalize }} | Ideas from Harvey Ramer"
  description: "Articles about {{ tag | capitalize }} by Harvey Ramer, a web developer."
eleventyExcludeFromCollections: true
---

<main>
  <span class="meta">{{ tag | upper }}</span>
  <h1>Article Archive</h1>

  <ol class="archive_list">
    {% set taglist = collections[tag] %}
    {% for post in taglist | reverse | pinnedSort %}
      <li>
        <h2 {% if post.data.pinned %}
            class="pinned"
            title="Pinned article"
          {% endif %}>
          <a href="{{ post.url }}">{{ post.data.title }}</a>
        </h2>
        <p class="excerpt">{{post.data.social_quote}}
          {% if post.data.author %}
            <span class="meta">
              <time class="block" datetime="{{ post.data.date  }}">
                {{ post.data.date | dateDisplay }}
              </time>
            </span>
          {% endif %}
        </p>
      </li>
    {% endfor %}
  </ol>
</main>
