<div class="share-this">
  <h5>Give back. Share this resource.</h5>
  <a href="https://www.facebook.com/dialog/share?app_id=526426944640037&display=page&href={{site.url | url}}{{page.url | url}}" rel="noopener" target="_blank">{% fortawesomeBrand 'facebook' %}</a>
  <a href="https://twitter.com/intent/tweet?text={{description | url}}&url={{site.url | url}}{{page.url | url}}&via=harveyramer" rel="noopener" target="_blank">{% fortawesomeBrand 'twitter' %}</a>
  <a href="https://www.linkedin.com/shareArticle?url={{site.url | url}}{{page.url | url}}&title={{title |url}}&summary={{description | url}}&source=www.harveyramer.com" rel="noopener" target="_blank">{% fortawesomeBrand 'linkedin' %}</a>
</div>